<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<link href="http://fonts.googleapis.com/css?family=PT+Sans:400,700" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/github.min.css">
<link rel="stylesheet" href="/css/normalize.css">
<link rel="stylesheet" href="/css/skeleton.css">
<link rel="stylesheet" href="/css/custom.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
<link rel="alternate" href="/index.xml" type="application/rss+xml" title="{{ .Site.Title }}">
<title>{{ $isHomePage := eq .Title .Site.Title }}{{ .Title }}{{ if eq $isHomePage false }} - {{ .Site.Title }}{{ end }}</title>
</head>
<body>

	<div class="cover-wrap fadeInDown animated" >
		<header role="banner" class="header">
			<hgroup class="intro">
      			<h1>
      				<a href="/" class="home">Toshi Kamei</a>
      				<span><a href="http://twitter.com/tolehico" rel="me" target="_blank">@tolehico</a></span>
      			</h1>
    		</hgroup>
    		<nav class="cover">
    			<ul class="headernav list-none">
    				<li><a href="http://tolehi.co/about/" title="About" class="fa fa-user about"><span>About</span></a></li>
        			<li><a href="http://blog.tolehi.co/post/" title="Posts" class="fa fa-book posts selected"><span>Posts</span></a></li>
        			<li><a href="http://tolehico.github.io/" title="Posts" class="fa fa-terminal Tech "><span>Tech</span></a></li>
        			<li><a href="http://photo.tolehi.co" title="Photos" class="fa fa-camera-retro photos "><span>Photos</span></a></li>
      			</ul>
    		</nav>
		</header>
	</div>
