body {
  
  font-family: 'Roboto',"proxima-nova", "helvetica", sans-serif;
  background-color: #FCFCFC;
  color: #606c78;
  -webkit-font-smoothing: antialiased;
}

h1 { font-size: 1.6rem; } /*2.1*/
h2 { font-size: 1.4rem; } /*1.9*/
h3 { font-size: 1.2rem; } /*1.7*/
h4,
h5,
h6 { font-size: 1.5rem; } /*1.5*/

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
}

ul, li, ol {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Freight Sans', 'Verdana', 'Geneva', sans-serif;
  font-weight: 300;
}

article {

}

.container {
  /*width: 90%;
  max-width: 600px;*/
  box-sizing: content-box;
}

.cover-wrap {
  width: 100%;
  padding: 0;
}

.animated {
  -webkit-animation-duration: .4s;
  animation-duration: .4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  -moz-animation-duration: .2s;
  -ms-animation-duration: .2s;
  -o-animation-duration: .2s;
}
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -o-animation-name: fadeInDown;
}


@media (max-width: 40em){
  .header {
    padding: 15px 0 12px;
  }
}

@media (max-width: 55em) {
  .header {
    width: 100%!important;
  }
}

.header {
  margin: 0 auto;
  padding: 15px 0;
  border-bottom: 1px solid #eee;
  color: #57626b;
  width: 38.75em;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

@media (max-width: 40em){
  .header hgroup, .header nav {
    text-align: center;
    padding-left: 0!important;
    float: none;
    width: auto;
    display: block;
  }
}
@media (max-width: 55em) {
  .header hgroup {
    padding-left: 1em;
  }
}

.header hgroup {
  margin: 0;
  float: left;
}

.header hgroup h1 {
  font-weight: 500;
  line-height: 1.1;
  margin: 0;
  font-size: 1.1em;
}

h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: .5em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  text-rendering: optimizeLegibility;
}

.header hgroup h1 a.home {
  color: #454e55!important;
  font-size: 1.1em;
  font-weight: 500;
}

.header hgroup h1 a {
  font-weight: 500;
  cursor: pointer;
  font-size: 1.2em;
  color: #669ecc;
}
a:visited {
  color: #6a4c96;
}
a {
  color: #4c6296;
  text-decoration: none;
  outline: 0;
}

.header hgroup h1 span a {
  font-weight: 400;
  font-size: .9rem;
  color: #999;
}

  .header nav {
    margin-top: 1em;
    padding-right: 0!important;
  }
  .header hgroup, .header nav {
    text-align: center;
    padding-left: 0!important;
    float: none;
    width: auto;
    display: block;
  }
  .header nav {
    padding-right: 1em;
  }
  .cover {
    margin-bottom: 3px;
  }

.cover {
  float: right;
  margin-top: .21em;
}

.cover .headernav {
  padding: 0;
}


.cover .headernav li {
  display: inline-block;
  margin-right: 1em;
}
.list-none li {
  list-style-type: none!important;
  margin-left: 0!important;
}

.cover .headernav li a.selected, .cover .headernav li a:hover {
  color: #1D78BD;
}

.cover .headernav li a {
  color: #a6a8ab;
  font-size: 1.3rem;
  font-weight: 500;
  position: relative;
  z-index: 1;
}

@media (max-width: 55em) {
    .cover .headernav li a {
        font-size: 0.9rem;
      }
}

.cover .headernav li a:before{
  margin-right: 5px;
  margin-bottom: -1px;
}



.clearfix {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}

/*
@media (max-width: 479px){
  .container {
    padding: 20px;
  }
}

@media (max-width: 1079px) and (min-width: 480px){
  .container {
    padding: 60px;
  }
}
*/

/*
.header {
  width: 100%;
  padding: 0 0 30px 0;
}
*/
.header-logo img {
  border-radius: 50%;
  border: 4px solid #E1E1E1;
  box-shadow: inset 2px 2px 4px rgba(0,0,0,.5);
}

.header-logo img:hover {
  border-color: #F1F1F1;
}

.site-title {
  font-size: 1rem;
}

.entry-title {
  margin-bottom: 0;
}

.entry-title a {
  text-decoration: none;
}

.entry-meta {
  display: inline-block;
  font-size: 1rem;
  /*color: #A49581;*/
}



.hr {
  height: 1px;
  margin: 2rem 0;
  background: #E1E1E1;
  background: -webkit-gradient(linear, left top, right top, from(white), color-stop(#E1E1E1), to(white));
  background: -webkit-linear-gradient(left, white, #E1E1E1, white);
  background: linear-gradient(to right, white, #E1E1E1, white);
}

.Layout-nav {
  width: 100%;

}

.profile {
  text-align: center;
  margin-top: 30px;
}


.profile-avatar {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  background: url('/images/logo.jpg');
  background-size: contain;
  /*box-shadow: inset 2px 2px 4px rgba(0,0,0,.5);*/
}

@media (min-width: 720px){
  .profile-avatar {
    width: 120px;
    height: 120px;
    border-radius: 120px;
  }
}

@media screen and (max-width: 719px) and (min-width: 480px){
  .profile-avatar {
    width: 90px;
    height: 90px;
    border-radius: 90px;
  }
}


.profile-role {
  display: block;
  font-size: 18px;
  font-family: 'Freight Sans Small Caps', 'Verdana', 'Geneva', sans-serif;
  text-transform: lowercase;
  color: #606c78;
  margin: 10px 0 10px 0;
}



.is-visible {
  background: #fff;
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.link {
  color: #70BF5A
}

a {
  color: inherit;
  text-decoration: none;
}
/*
.navbar {
  background: 0 0;
  height: 10rem;

  top: 0;
  left: 0;
  text-align: center;
  transition: background .3s;
    transition-property: background;
    transition-duration: 0.3s;
    transition-timing-function: initial;
    transition-delay: initial;
  width: 100%;
  z-index: 300;
}*/


.heading-medium {
  font-size: 20px;
  line-height: 30px;
  color: #606c78;
  margin: 20px 0 0 0;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: inherit;
}

h1.entry-title {
  font-size: 30px;
}

h2{
  font-weight: inherit;
  font-size: 20px;
  line-height: 30px;
  font-weight: normal;
}

time {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  /*font: normal 10px proxima-nova;*/
  /*color: #8e9aa5;*/
  margin: 5px 0 0;
}

/*
article {
  padding: 0 15em 0;
}*/

.navbar-inner {
  height: 3rem;
  top: 1.5rem;
  position: relative;
}

.navbar.is-visible {
  background: #fff;
}

.navbar.is-visible .navbar-title {
  opacity: 1;
  pointer-events: auto;
}

.navbar-title {
  display: inline-block;
  font-size: 1rem;
  line-height: 3rem;
  margin: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s;
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: initial;
    transition-delay: initial;
}

/*
.main {
    max-width: 660px;
    margin: 0 auto;
    box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
}

*/
.main {
  max-width: 128rem;
  margin: 0 auto;
  height: 100%;
  position: relative;
}


.masthead__single .masthead__hint {
  display: table-cell;
  vertical-align: middle;
  z-index: 3;
  position: relative;
  text-align: center;
}


.masthead__single {
  height: 100%;
  background: #4a4a4a;
  color: white;
  display: table;
  width: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.masthead__single:after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.4);
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
}

  .masthead__single {
    height: 480px;
  }

  .masthead__index {
    height: 300px;
  }


.masthead__single .masthead__hint h1 {
  margin-bottom: 0;
  font-size: 2.0rem;
}

.author {
  position: relative;
  bottom: -50px;
  font-size: 1.6rem;
}
.author em {
  display: block;
}

.single_content {
  padding-top: 60px;
  padding-bottom: 60px;
}

.single_content p, .single_content ul, .single_content ol {
  margin-top: 0;
  margin-bottom: 3rem;
}

.single_content h1, .single_content h2, .single_content h3, .single_content h4, .single_content h5, .single_content h6, .single_content p, .single_content ul, .single_content ol, .single_content .post_comments {
  max-width: 74rem;
  padding: 0 3rem;
  margin-left: auto;
  margin-right: auto;
}

article h1, article .h1, article h2, article .h2, article h3, article .h3, article h4, article .h4, article h5, article .h5,article h6, article .h6 {
  font-family: "futura-pt",sans-serif;
  line-height: 1.3em;
  font-weight: 700;
  margin: 0 0 12px;
  text-align: center;
}

article h1, article .h1, article h2, article .h2 {
  font-size: 3.6rem;
}

@media (max-width: 480px){
  article h1, article .h1, article h2, article .h2 {
    font-size: 3.2rem;
  }
}

@media (max-width: 480px){
  article h1, article .h1, article h2, article .h2, article h3, article .h3, article h4, article .h4, article h5, article .h5, article h6, article .h6 {
    margin-bottom: 8px;
  }
}


.primary__body--single hr {
  margin: 70px auto 50px;
}
hr, .hr {
  width: 48rem;
  max-width: 70%;
  margin: 0 auto;
  background: #d4d4d4;
  height: 1px;
  border: 0;
}

.photoset-grid, .video-embed {
  max-width: 114rem;
  margin: 60px auto 50px;
}

.photoset-grid img, .video-embed img {
  width: 100%;
  height: auto;
  max-width: 114rem;
}

ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.entry-list {
  text-align: center;
}

footer {
  padding: 45px 0 80px;
}


.footer-link {
  margin: 0 auto;
  padding: 0 10px;
}

.section-social{
  padding: 2em 0;
  height: 3em;
  text-align: center;
  /*border-top: 1px solid #f8f8f8;*/
}

.h-container {
  margin: 0 auto;
  padding: 0 160px;
}

@media (max-width: 768px){
  .h-container {
    padding: 0 10px;
  }
}

.social-links {
  text-align: center;
  display: inline-block;
}

@media (max-width: 768px){
  .social-links {
    margin: 0 auto;
    padding: 0;
  }
}

.copyright {
  font-size: 0.75em;
  color: #606c78;
  text-align: center;
  line-height: 1.8em;
}

.fa-dribbble:before, .fa-facebook:before, .fa-flickr:before, .fa-github:before, .fa-instagram:before, .fa-linkedin:before, .fa-twitter:before {
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
}

.social-links ul {
  list-style: none;
}

.social-links li {
  float: left;
  padding: 5px 0;
  width: 62px;
}

.social-links li a {
  color: #606c78;
  font-size: 2em;
  transform: scale(1);
  display: block;
  -ms-transition: all .2s ease-out;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}


@media (max-width: 768px){
.social-links li a {
  font-size: 32px;
  padding: 0;
}

.social-links li strong {
  opacity: 0;
  position: relative;
  font-size: .7em;
  font-weight: 400;
  color: #606c78;
  -ms-transform: translate3d(0,4px,0);
  -webkit-transform: translate3d(0,4px,0);
  -moz-transform: translate3d(0,4px,0);
  -o-transform: translate3d(0,4px,0);
  transform: translate3d(0,4px,0);
  -ms-transition: all .2s ease-out;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}
